header {
  &.home-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 111;
  }
  &.site-header {
    .top-header {
      background: $primary-color;
      padding: 5px 0 7px;
      @media #{$breakpoint-desktop} {
        padding: 2px 0 5px;
      }
      @media #{$breakpoint-xl} {
        padding: 1px 0 2px;
      }
      ul {
        @include display-flex(flex);
        @include align-items-center;
        @include justify-content-end;
        li {
          line-height: 12px;
          &:not(:last-child) {
            margin-right: 35px;
            @media #{$breakpoint-desktop} {
              margin-right: 20px;
            }
          }
          select,
          a {
            cursor: pointer;
            font-size: 13px;
            line-height: 18px;
            color: $white-color;
            font-weight: 600;
            @media #{$breakpoint-lg-desktop} {
              font-size: 11px;
              line-height: 16px;
            }
            @media #{$breakpoint-desktop} {
              font-size: 9px;
              line-height: 10px;
            }
            @media #{$breakpoint-xl} {
              font-size: 8px;
            }
          }
          &.form-group {
            cursor: pointer;
            margin-bottom: 0;
            select.form-control {
              min-height: auto;
              padding: 0 1rem 0 0.75rem;
              border: 0 solid transparent;
              background-color: transparent;
              @media #{$breakpoint-desktop} {
                padding: 2px 1rem 0px 0.75rem;
              }
              &:focus {
                outline: none;
              }
              & + i {
                position: relative;
                top: 7px;
                @media #{$breakpoint-desktop} {
                  top: 14px;
                  font-size: 15px;
                  margin-right: -5px;
                  line-height: 20px;
                }
                @media #{$breakpoint-xl} {
                  font-size: 13px;
                  margin-right: -2px;
                }
              }
            }
          }
        }
      }
    }
    .header-in {
      @include display-flex(flex);
      @include justify-content-between;
      @include align-items-center;
      .menu-wrap {
        @include display-flex(flex);
        @include justify-content-end;
        @include align-items-center;
        flex-grow: 1;
        padding: 8px 0;
        @media #{$breakpoint-desktop} {
          padding: 5px 0;
        }
        /*  @media #{$breakpoint-xl} {
          padding: 8px 0;
        } */
        @media #{$breakpoint-xs} {
          button {
            min-width: initial;
            padding: 0.25rem 0.5rem;
            font-size: 0.775rem;
          }
        }
        button {
          @include radius(4px);
          @media #{$breakpoint-xl} {
            min-height: 24px;
            height: 24px;
            min-width: 90px;
            @include radius(2px);
          }
        }
      }
      .menu {
        ul {
          @include display-flex(flex);
          @include justify-content-end;
          @include align-items-center;
          li {
            margin-right: 1.5rem;
            @media #{$breakpoint-desktop} {
              margin-right: 1rem;
            }
            a {
              color: $heading-color;
              padding: 0.5rem;
              font-size: 0.875rem;
              font-weight: 600;
              @include transition(all 0.3s ease-in-out);
              text-transform: capitalize;
              &.call-to-action {
                padding: 0.75rem;
                @include radius(4px);
                background: $primary-light-blue;
                &:hover {
                  background: darken($primary-light-blue, 6%);
                  color: $heading-color;
                }
                @media #{$breakpoint-desktop} {
                  padding: 0.5rem;
                }
              }
              &.active,
              &:hover {
                color: $primary-dark;
              }
              @media #{$breakpoint-lg-desktop} {
                font-size: 0.813rem;
                padding: 0.875rem;
              }
              @media #{$breakpoint-desktop} {
                font-size: 0.688rem;
                padding: 0.75rem;
              }
              @media #{$breakpoint-xl} {
                font-size: 0.625rem;
                padding: 0.625rem;
              }
            }
          }
        }
      }
      .toggle-button {
        position: relative;
        width: 22px;
        height: 26px;
        @include transition(all 0.5s ease-in-out);
        display: none;

        span {
          position: absolute;
          height: 3px;
          border-radius: 4px;
          width: 100%;
          background-color: $secondary-color;
          top: 0;
          transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
          z-index: 1101;

          &:nth-child(1) {
            top: 0;
          }

          &:nth-child(2),
          &:nth-child(3) {
            top: 6px;
          }

          &:nth-child(4) {
            top: 12px;
          }
        }

        &.active {
          position: absolute;
          top: 15px;
          right: 15px;
          z-index: 1000;

          span {
            &:nth-child(1),
            &:nth-child(4) {
              opacity: 0;
            }

            &:nth-child(2) {
              transform: rotate(45deg);
              background-color: $secondary-color;
            }

            &:nth-child(3) {
              transform: rotate(-45deg);
              background-color: $secondary-color;
            }
          }
        }
        @media #{$breakpoint-sm} {
          width: 25px;
          height: 25px;
          span {
            &:nth-child(2),
            &:nth-child(3) {
              top: 7px;
            }

            &:nth-child(4) {
              top: 14px;
            }
          }
        }
      }

      @media #{$breakpoint-ls} {
        @include flex-wrap(wrap);
        a.logo {
          margin-bottom: 0.25rem;
        }
      }
      @media #{$breakpoint-md} {
        .toggle-button {
          display: block;
          margin-left: 1rem;
        }
        .menu {
          position: fixed;
          height: 100%;
          max-width: 280px;
          padding: 15px;
          width: 100%;
          background-color: $secondary-light;
          z-index: 999;
          top: 0;
          right: -100%;
          left: auto;
          bottom: 0;
          ul {
            display: block;
            li {
              display: block;
              a {
                color: $heading-color;
                padding: 0.5rem 0.6125rem;
                display: block;
              }
            }
          }
        }
      }
    }
    &.map-header {
      @include transition(all 0.15s linear);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      padding: 12px 20px;
      background: $white-color;
      border: 1px solid $border-color;
      z-index: 1;
      @media #{$breakpoint-desktop} {
        paddin: 8px 20px;
      }
      &.map-pd {
        padding: 2px 20px;
      }
      .header-in {
        .left,
        .right {
          &.is-flex {
            @include display-flex(flex);
          }
        }
        .right {
          @include justify-content-end;
          flex: 0 0 50%;
          max-width: 50%;
        }
        .left {
          flex: 0 0 50%;
          max-width: 50%;
          .form-group {
            padding-right: 20px;
            flex-wrap: nowrap;
            input {
              @media #{$breakpoint-lg-desktop} {
                max-width: 150px;
              }
              &:first-child {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
              }
              &:last-child {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                border-left: 0;
              }
            }
          }
        }
      }
    }
  }
}

@media #{$breakpoint-xl} {
  header.site-header {
    .header-in {
      a.logo {
        max-width: 150px;
      }
    }
  }
}

@media #{$breakpoint-desktop} {
  header {
    &.site-header {
      .header-in {
        a.logo {
          max-width: 100px;
        }
      }
    }
    &.home-header {
      .header-in {
        .menu {
          ul {
            li {
              a {
                padding: 0.625rem;
              }
            }
          }
        }
      }
      .top-header {
        ul {
          &:not(:last-child) {
            margin-right: 20px;
            &::after {
              margin: 0 0.325rem;
            }
          }
        }
      }
    }
  }
}

@media #{$breakpoint-xl} {
  header {
    &.site-header {
      .header-in {
        a.logo {
          max-width: 85px;
        }
      }
    }
    &.home-header {
      .header-in {
        .menu {
          ul {
            li {
              a {
                padding: 0.625rem;
              }
            }
          }
        }
      }
      .top-header {
        ul {
          &:not(:last-child) {
            margin-right: 15px;
            &::after {
              margin: 0 0.325rem;
            }
          }
        }
      }
    }
  }
}
@media #{$breakpoint-md} {
  .Is-toggle {
    .site-header {
      .header-in {
        .menu {
          right: 0;
        }
      }
    }
  }
}

@media #{$breakpoint-sm} {
  footer.site-footer {
    .footer-in {
      padding: 0 20px;
    }
  }
}

@media #{$breakpoint-xs} {
  header {
    &.home-header {
      .top-header {
        ul:nth-child(2) {
          li {
            a {
              img {
                max-width: 15px;
                height: 15px;
                width: 15px;
              }
            }
          }
        }
      }
    }
  }
}

@media #{$breakpoint-xxs} {
  header {
    &.home-header {
      .top-header {
        @include flex-direction-column(column);
        @include justify-content-end;
        ul {
          &:not(:last-child) {
            margin-right: 0;
            margin-bottom: 8px;
          }
          &.lang-select-wrap {
            margin-top: 5px;
          }
        }
      }
    }
  }
}
